section{
  border: 5px solid blue;
  padding: 5px;
  margin: 5px auto;
  text-align: center;
  max-width: 1170px;
}
div, p{
  margin: 0;
  padding: 0;
}

.title{
  font-size: 20px;
  font-weight: bold;
}
.inputArea{
  width: 30%;
  min-width: 300px;
  position: relative;
  margin: 0 auto;
  
}
.messageStyle{
  color: red;
  font-size: 0.8rem;
}

.note{
  display: none;
  width: 250px;
  border: 1px solid green;
  margin: 20px auto;
}