body{
  background-color: beige;
}

div.btn {
  width: 200px;
  height: 50px;
  line-height: 50px;
  color: cornflowerblue;
  text-align: center;
  margin: 20px auto;
  transition: color .5S ease-out;
  transition: font-size .5S ease-out;
}

div.btn1{
  background-color: yellow;
}
div.btn2{
  background-color: red;
}
div.btn3{
  background-color: blue;
}

div.btn.active{
  color: black;
  font-size: 25px;
}